*,::after,::before,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
}

.blue-div {
    overflow-y: auto;
    margin: 0 auto;
    background-color: blue;
    width: 99.9vw;
    height: 99vh;
    border: 4px solid yellow;
    border-radius: 1rem;
}