*,::after,::before,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
}
.green-div {
    overflow-y: auto;
    margin: 0.2rem auto;
    background-color: green;
    width: 99.9vw;
    height: 90vh;
    border: 4px solid yellow;
    border-radius: 1rem;
}
